/* CSS existente */

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #5e005e, #a167e4, #5e005e);
  
}

header {
  background: linear-gradient(50deg, #5e005e, #a167e4, #5e005e);
  padding: 20px;
  text-align: center;
  outline: 1px solid #ff2bf4;
  outline-offset: -1px;
  transition: all .3s linear;
  cursor: pointer;
  &:hover {
      outline: 1px solid transparent;
      background: 
          linear-gradient(90deg, #ff2bf4 50%, transparent 0) repeat-x,
          linear-gradient(90deg, #ff2bf4 50%, transparent 0) repeat-x,
          linear-gradient(0deg, #ff2bf4 50%, transparent 0) repeat-y,
          linear-gradient(0deg, #ff2bf4 50%, transparent 0) repeat-y;
      background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
      background-position: 0 0, 0 100%, 0 0, 100% 0;
      animation: linearGradientMove .3s infinite linear;
  }
}

@keyframes linearGradientMove {
  100% {
      background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
  
}





header h1 {
  color: #ff2bf4;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  margin: 0;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease-in-out;
}


.text-h1{
  color: #840988;
  font-family: 'Poppins', sans-serif;
  font-size: 3.5em;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  text-align: center;
  justify-content: center;
}


.site-main {
  overflow: hidden;
}

header h1:hover {
  color: #ffaaff;
}

.scrollbar-container {
  height: 100vh;
  overflow: hidden;
}

.parallax-background-section {
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax-background-element {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 110%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.parallax-background-section:nth-of-type(1) .parallax-background-element {
  background-image: url('./imagensFundo/aura.jpg'); 
}

.parallax-background-section:nth-of-type(2) .parallax-background-element {
  background-image: url('./imagensFundo/fundo1.png');
}

.gallery {
  padding: 10px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(50deg, #e000e0, #ff54bd, #e046ff);
  border-radius: 10px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
  width: 200px;
  height: 200px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}


.gallery img:hover {
  transform: scale(1.10);
  
}
.gallery .image-container img {
  width: 100%;
  max-width: 250px;
  margin: 10px;
  cursor: pointer;
}

.image-container {
  justify-content: center;
  display:block;
  text-align: center;
  
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
}

.modal-content {
  margin: auto;
  display: grid;
  width: 80%;
  max-width: 700px;
  align-items: center;
  justify-content: center;
}

.modal-caption {
  align-items:baseline ;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
  color: #bbb;
}

.modal .prev,
.modal .next {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

.prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
